<div class="header-image">
  <img src="../../../assets/img/header-background.jpg" class="d-block w-100 h-50" alt="...">
</div>

<div class="search-panel">

  <div class="airport">
    <mat-form-field appearance="outline">
      <mat-label>Airport Name</mat-label>
      <input matInput placeholder="Airport Name" #query [formControl]="airportControl" [matAutocomplete]="autoAirport"
        (keyup)="query.value.length > 2 ? loadData(query.value) : airNames = []">
      <mat-icon matSuffix svgIcon="departure"></mat-icon>
    </mat-form-field>

    <mat-autocomplete autoActiveFirstOption #autoAirport="matAutocomplete">
      <mat-option *ngIf="isLoading">Searching...</mat-option>
      <mat-option *ngIf="query.value.length <= 2">Type more than 3 characters and wait a few second...</mat-option>
      <mat-option *ngIf="!isLoading && query.value.length > 2 && airNames.length == 0">No Matches, try again! ;)</mat-option>
      <mat-option *ngFor="let option of airNames" [value]="option">
        {{ option }}
      </mat-option>
    </mat-autocomplete>
  </div>

  <div class="iataCode">
    <mat-form-field appearance="outline">
      <mat-label>Iata Code</mat-label>
      <input #departure matInput placeholder="Iata Code" [formControl]="iataControl" [matAutocomplete]="autoIata">
      <mat-icon matSuffix svgIcon="iata"></mat-icon>
    </mat-form-field>


    <mat-autocomplete autoActiveFirstOption #autoIata="matAutocomplete">
      <mat-option *ngFor="let option of routes" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </div>

  <button class="btn btn-primary" (click)="loadData(query.value, departure.value)"> Search </button>

</div>

<div *ngIf="noFligthsMach" class="alert alert-warning results">
    Too bad..!! This airport doesn´t flight to that destination! :( 
</div>

<div *ngIf="!hasFligth &&  !noFligthsMach" class="alert alert-primary results">
    Very soon you will know, just type and wait a few seconds.! ;)
    <mat-progress-bar *ngIf="isLoading && departure.value.length > 2" mode="buffer"></mat-progress-bar>
  </div>

<div *ngIf="hasFligth" class="alert alert-success results">
    Excellent..!! This Airport does flight there! :)
</div>
